

/*----MAIN STYLES----*/

fieldset {
	background-color: ghostwhite;
	padding: 2em;
}

label {
    width: 180px;
    clear: left;
    padding: 3px;
}

/*input, 
label,
select,
textarea 
{
    float: left;
}
*/
